.header {
  padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}

.question {
  color: blue
}

.punchline {
  color: purple
}

.joke {
  background-color: pink;
  margin: auto;
  text-align: center;
}